@model Projee.Models.Kategori
@{
    ViewBag.Title = "KategoriGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>KategoriGuncelle</h2>

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(x => x.KategoriAd)
        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
        @Html.HiddenFor(x => x.KategoriId)
        <br />
        <button class="btn btn-warning">Güncelle</button>

    </div>
}

