
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<button class="btn btn-primary" id="Btn1">Button1</button>
<button class="btn btn-warning" id="Btn2">Button2</button>
<button class="btn btn-danger" id="Btn3">Button3</button>
<button class="btn btn-default" id="Btn4">Button4</button>
<button class="btn btn-light" id="Btn5">Button5</button>

<script>
    $('#Btn1').click(function () {
        swal("Hello wORLD");
    });
</script>

<script>
    $('#Btn2').click(function () {
        swal("Başlık","........Metin");
    });
</script>
<script>
    $('#Btn3').click(function () {
        swal("Good job!", "You clicked the button!", "success");

    });
</script>
<script>
    $('#Btn4').click(function () {
        swal("Click on either the button or outside the modal.")
            .then((value) => {
                swal(`The returned value is: ${value}`);
            });

    });
</script>
<script>
    $('#Btn5').click(function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });

    });
</script>
